@model IEnumerable<ClinicaMedica.Model.DTOs.Basic.EspecialidadesDTO>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.EspecialidadId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Detalle)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.EspecialidadId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Detalle)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id=item.EspecialidadId}) |
                    @Html.ActionLink("Details", "Details", new { id = item.EspecialidadId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = item.EspecialidadId })
            </td>
        </tr>
}
    </tbody>
</table>
